html{
    scroll-behavior: smooth;
}

.side-section{
    height:100%;
    overflow-y:scroll;
    position:fixed;
}

.main-doc{
    /* margin:20px; */
    position:absolute;
    left:25%;
}

.code-segment{
    background-color:#ebe9e9;
    padding:15px;
}

code {
    /* display: block; */
    white-space: pre-line;
  }